/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --black: #2d2d2d;
   --l-grey: #f1f1f1;
}

* {
   overflow: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Montserrat','Roboto', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  padding:50px;
  background-color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
   background-color: var(--l-grey);
   margin-bottom: 4em;
   padding: 1.5em 1em 0 1em;
   width: auto;
   border-radius: 1em;
   font-weight: bold;
}

.titulo {
  text-transform: uppercase;
  font-family: 'Montserrat','Roboto', sans-serif;
  font-size: 28px;
  line-height: 1.3em;
}


#legenda {
  margin-left: 250px;
  display: grid;
  grid: repeat(3, 36px) / auto-flow 150px;
  font-family: 'Montserrat','Roboto', sans-serif;
}

h1 {
  font-size: 3.5em;
  padding-bottom: 0.6em;
  color: var(--black);
}

p {
  margin-left:8px;
  margin-top:20px;
  margin-bottom:40px;
}

h2 {
  float: left;
  width: 200px;
  font-weight: 600;
  color: var(--black);
}


.legenda-cor{
  float: left;
  width: 32px;
  height: 32px;
}

.legenda-texto {
  font-family: 'Montserrat','Roboto', sans-serif;
  margin-left: 40px;
  margin-top: 8px;
  font-weight: 600;
  color: var(--black);
}

.map {
  padding: 5em;
  clear: both;
  display: grid;
  grid: repeat(7, 64px) / auto-flow 65px;
  font-family: 'Roboto Mono', sans-serif;
}

.estado {
  background-color: #f1f1f1;
  margin: .5px;
  align-content: center;
  text-align: center;
  padding-top: 35%;
  color: black;
  border: 1px solid #fff;

  font-size:18px;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
}

.estado:hover {
  background-color: #ffffff !important;
   cursor: crosshair;
} /* important aqui porque é pra sobrescrever qualquer outro bg-color
*/

#am {
  background-color: #ff0000;
}

#to {
  background-color: yellow;
}

#pa {
  background-color: green;
}

footer {
  height: auto;
  width: auto;
  background-color: var(--l-grey);
  border-radius: 1em;
  padding: 1em 0 1em 1em;
}

footer p {
   padding: 0 0 0;
   margin: 1em;
}

footer h6 {
   margin: 2em;
   font-size: 0.5em;
   font-weight: bold;
   letter-spacing: 0.2em;
   text-transform: uppercase;
}
